<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38606065113-hna71o9s18fm5mii7ofccst0ul4pllmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38606065113-hna71o9s18fm5mii7ofccst0ul4pllmi</string>
	<key>API_KEY</key>
	<string>AIzaSyAkUPSQA3VMDl7ALtXV0MdY1X4_iMnQXq4</string>
	<key>GCM_SENDER_ID</key>
	<string>38606065113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drclik.v3</string>
	<key>PROJECT_ID</key>
	<string>bops-dashboard</string>
	<key>STORAGE_BUCKET</key>
	<string>bops-dashboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38606065113:ios:ea541cdd3f8bc449a09dc8</string>
	<key>DATABASE_URL</key>
	<string>https://bops-dashboard.firebaseio.com</string>
</dict>
</plist>